.button {
    padding: 10px 15px;
    color: #fff;
    background-color: #000;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
}